input {
  width: 80%;
}

.bg-car {
  background-image: url(./images/back6.jpg);
  background-position: center;
  background-size: cover;
}

.signupTitle {
  font-size: calc(15px + 0.9vw);
}

.errormsg {
  font-size: 7px;
}

.submitButton {
  width: 50%;
  margin-bottom: 20px;
  background-color: #1099CC;
  color: white;
  border-size: 0px;
}

@media screen and (min-width: 40em) {
  .errormsg {
    font-size: 10px;
  }

  .submitButton {
    width: 30%;
    margin-bottom: 0;
  }
}