@font-face {
  font-family: "chalkduster";
  src: url('Chalkduster.eot?#iefix') format('embedded-opentype'),
  url('Chalkduster.eot'),
  url('Chalkduster.woff') format('woff'), 
  url('Chalkduster.ttf')  format('truetype'),
  url('Chalkduster.svg#svgFontName') format('svg');
}

.serviceComing {
  height: 100vh;
  padding-top: calc(150px - 5vh);
  color: white;
  font-family: 'Damion';
  font-size: calc(10px + 5vh);
}

#serviceTitle{
  font-family: 'Trebuchet MS';
  font-size: calc(20px + 1.5vw);
  color: #232b2b;
}

.darkbg{
  background-image: url('images/black.jpg');
}

.leftservicenav{
  width: 20%;
}

.rightservicesection{
  width: 70%;
}

.bg-blackish{
  background-color: #eae6da;
}

.services_block{
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 4px;
}

@media screen and (min-width: 10em){
.resp_img{
  width: 50%;
}
}

@media screen and (min-width: 30em){
.resp_img{
  width: 30%;
}

.resp_div{
  margin-left: auto;
}
}

@media screen and (min-width: 50em){
.resp_img{
  width: 20%;
}
}

.underline_on_hover:hover{
  text-decoration: underline;
}

.shadow_on_hover:hover{
  text-shadow: 0px 0px 5px rgba(255, 255, 255);
}

.no_underline:hover{
  text-decoration: none;
}

.serv_name{
  text-decoration: none;
}