.navbar1{
    text-align: left;
    padding: 2% 0;
    background-color: white;
}

.brandName a{
    color: #111;
    text-decoration: none;
}

.menuItems{
    margin-left: 10%;
}

.brandName{
    color: #111;
    float: left;
    padding-right: 5%;
    padding-left: 5%;
    font-size: calc(10px + 1.5vw);
    font-family: 'Trebuchet MS';
}

.menuItems2bg{
    padding: 1% 0 2% 0;
    background-image: url(images/images.jpeg);
}

.menuItemMobile{
    display: block;
    padding-right: 3%;
    padding-left: 1%;
    padding-top: 1.5%;
    font-size: 10px;
    color: #111;
}

.menuItems2{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0.7%;
    font-size: calc(3px + 1vw);
    color: #111;
    display: none;
}

.cartIcon {
    padding-top: 0;
}

.menuDropItems{
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 3%;
    font-size: calc(5px + 1vw);
    color: #ddd;
    display: block;
    background-color: #051016;
    padding-bottom: 2%;
    font-size: 10px;
}

.categories{
    color: #111111;
    margin-right: 4%;
    font-size: calc(3px + 1.5vw);
    font-family: 'Trebuchet MS';
    border-top: 2px solid transparent;
}

.categories:hover{
    color: green;
    border-top: 2px solid green;
}

@media screen and (max-width: 40em){
    .categories{
        font-size: calc(7px + 1vw);
    }
    .menuItemMobile{
        font-size: 10px;
    }
    .menuItems{
        margin-left: 10px;
    }

    .categories{
        border-top-width: 1px;
    }

    .categories:hover{
        border-top-width: 1px;
    }
}

@media screen and (min-width: 40em){
.categories{
    margin-right: 5%;
}
.navbar1{
    padding: 2% 0 1.5% 0;
}
.menuItems2{
    display: block;
}
.menuItemMobile{
    display: none;
}
.menuDropItems{
        display: none;
    }
}