@font-face {
  font-family: "chalkduster";
  src: url('Chalkduster.eot?#iefix') format('embedded-opentype'),
  url('Chalkduster.eot'),
  url('Chalkduster.woff') format('woff'), 
  url('Chalkduster.ttf')  format('truetype'),
  url('Chalkduster.svg#svgFontName') format('svg');
}

#shopTitle{
  font-family: 'Trebuchet MS';
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.no-underline:hover{
  text-decoration: none;
}

.link2{
  padding-left: 10%;
  color: #eae6da;
  font-family: 'Trebuchet MS';
  font-size: calc(10px + 1.5vw);
}

.link2:hover{
  color: #eae6da;
  text-decoration: none;
}



.child_{
  font-size: 0.5em;
  color: white;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  padding-top: 30%;
  visibility: hidden;
  background-image: url('images/black.jpg');
}

.parent_:hover .child_{
  visibility: visible;
  opacity: 0.8;
}

#shopCardList{
  background-color: #232b2b;
}

.shadowed{
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
}

.pad20{
  padding: 20px;
}
.artPad{
  padding: 10px;
}

@media screen and (min-width: 10em){
.w50{
  width: 50%;
}
.w25{
  width: 50%;
}
.w100{
  width: 100%;
}

}

@media screen and (min-width: 40em){
.w50{
  width: 50%;
}
.w25{
  width: 25%;
}
#w100{
  width: 50%;
}
.pad20{
  padding: 40px;
}
.artPad{
  padding: 30px;
}
.child_{
  font-size: 1em;
}

}
