@font-face {
  font-family: "chalkduster";
  src: url('Chalkduster.eot?#iefix') format('embedded-opentype'),
  url('Chalkduster.eot'),
  url('Chalkduster.woff') format('woff'), 
  url('Chalkduster.ttf')  format('truetype'),
  url('Chalkduster.svg#svgFontName') format('svg');
}

#shopCard{
  background-image: url(./images/back6.jpg);
  background-position: center;
  background-size: cover;
}

#shopTitle{
  font-family: 'Trebuchet MS';
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.no-underline:hover{
  text-decoration: none;
}

.shopTitle{
  color: white;
  display: none;
}

.rightnavitem{
  padding: 3px 5px 10px 15px;
  margin: 20px 0px 20px 30px;
  border-bottom: 1px solid grey;
  color: white;
  text-align: left;
  font-family: 'Trebuchet MS';
}

.rightnavitem:hover{
  color: #66cd00;
}

.link2{
  padding-left: 10%;
  color: #eae6da;
  font-family: 'Trebuchet MS';
  font-size: calc(10px + 1.5vw);
}

.link2:hover{
  color: #eae6da;
  text-decoration: none;
}

.rightnav{
  border: 5px solid white;
}

.storeleft{
  width: 20%;
  background-color: #232b2b;
}

.storeright{
  width: 70%;
}

.child_{
  font-size: calc(1px + 1vw);
  color: white;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  padding-top: 30%;
  visibility: hidden;
  background-color: black;
}

.parent_:hover .child_{
  visibility: visible;
  opacity: 0.7;
}

#shopCardList{
}

.shadowed{
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
}

.pad20{
  padding: 20px;
}
.artPad{
  padding: 10px;
}

@media screen and (min-width: 10em){
.w50{
  width: 50%;
}
.w25{
  width: 100%;
}
.w100{
  width: 100%;
}

.child_{
  font-size: 10px;
}

}

@media screen and (min-width: 30em){
.w50{
  width: 50%;
}
.w25{
  width: 50%;
  padding: 20px;
}

}

@media screen and (min-width: 40em){
.w50{
  width: 50%;
}
.w25{
  width: 25%;
}
#w100{
  width: 50%;
}
.pad20{
  padding: 30px;
}
.artPad{
  padding: 30px;
}

.child_{
  font-size: calc(1px + 1vw);
}

}
@media screen and (max-width: 60em){
  .storeleft{
    display: none;
  }
  .storeright{
    width: 100%;
  }
  .shopTitle{
    display: block;
  }
}