footer{
  padding: calc(10px + 1vw) calc(20px + 1vw);
  color: #555
}

.footerHeadBlock{
  padding: calc(5px + 1vw) 0px;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #555;
}

.footerHead{
  color: #333;
  font-size: calc(5px + 2vw);
}

.footerHeadTag{
  font-size: calc(2px + 0.8vw);
}

.footerFootBlock{
  font-size: calc(10px + 0.3vw);
}

.footerFootDiv a{
  color: #555;
  text-decoration: none;
}

.footerFootDiv a:hover{
  color: #111;
}

@media screen and (max-width: 20em){
  .footerHeadBlock{
    padding: 8px;
    line-height: 7px;
    border-width: 1px 0px;
  }
  .footerHead{
    font-size: 11px;
  }
  .footerHeadTag{
    font-size: 7px;
  }
}

@media screen and (max-width: 40em){
  .footerHeadBlock{
    padding: 15px;
    line-height: 9px;
    border-width: 1px 0px;
  }
  .footerHead{
    font-size: 15px;
  }
  .footerHeadTag{
    font-size: 7px;
  }
  .footerLastLine{
    font-size: 0.5rem;
  }
}